@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
    /* colors */
    --color-deep: #222831;
    --color-primary: #66e6f2;
    --color-secundary: #18b7be;
    --color-alternate: #f6faff;
    --color-detail: #384455; 

    /* fonts */
    --font-rubik: "Rubik", sans-serif;
    --font-noto: "Noto Sans", sans-serif;
}